* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
}

header h1 {
    text-align: center;
    font-size: 3rem;
}

main {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

div.container {
    position: relative;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50px;
}

.container form {
    width: 100%;
    height: auto;
}

.container form label {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.container form input {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

button {
    width: 50%;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
    font-weight: 900;
    background-color: aquamarine;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resposta {
    position: relative;
    width: 75%;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
}

.resposta p {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: red;

}